name: Build and Test on Tag

on:
  push:
    tags:
      - 'main*' 

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 # Spécifie la version de Python à utiliser pour la build

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Test
        run: |
          pytest

      - name: Build
        run: |
          python setup.py sdist bdist_wheel

      - name: Archive
        run: |
          tar -czvf M1git.tar.gz dist/
          zip -r M1git.whl dist/
