name: Test and Build on Tag

on:
  push:
    tags:
      - 'v*' # Match les tags commençant par 'v'
    branches:
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9' # Changer la version de Python si besoin

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest # Si pytest n'est pas dans les requirements.txt

    - name: Run tests
      run: pytest

    - name: Build distribution
      run: |
        python setup.py sdist bdist_wheel
        ls dist/ # Afficher les archives générées

    - name: Upload distribution
      uses: actions/upload-artifact@v2
      with:
        name: distributions
        path: dist/
      if: success()
